.avatar {
    vertical-align: middle;
    text-align: center;
    width: 315px;
    height: 315px;
    border-radius: 50%;
}

.btnColor{
    border: 1px solid rgb(190, 153, 49);
    color: rgb(190, 153, 49);
}

.p-button.p-button-text:enabled:hover{
    border: 1px solid rgb(190, 153, 49);
    color: rgb(190, 153, 49);
}
