$topnav-background-color: #eee;

:host {
    display: block;
}

.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: $topnav-background-color;
    text-align: center;
    color: #333;
    padding: 3em;

    .col-lg-4 {
        padding: 0;
    }

    .input-lg {
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 0;
    }

    .input-label {
        font-size: 18px;
        float: left;
        margin-bottom: 0px;
    }

    .input-underline {
        background: 0 0;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid rgb(190, 153, 49);
        color: #333;
        border-radius: 0;
    }

    .input-underline:focus {
        border-bottom: 2px solid #333;
        box-shadow: none;
    }

    .rounded-btn {
        -webkit-border-radius: 50px;
        border-radius: 50px;
        color: rgb(190, 153, 49);
        background: $topnav-background-color;
        border: 2px solid rgb(190, 153, 49);
        font-size: 18px;
        line-height: 40px;
        padding: 0 25px;
    }

    .rounded-btn:hover,
    .rounded-btn:focus,
    .rounded-btn:active,
    .rounded-btn:visited {
        color: rgb(190, 153, 49);
        border: 2px solid rgb(190, 153, 49);
        outline: none;
    }

    h1 {
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 36px;

        small {
            color: rgba(255, 255, 255, 0.7);
        }
    }

    .form-group {
        padding: 8px 0;

        input::-webkit-input-placeholder {
            color: #333 !important;
        }

        input:-moz-placeholder {
            /* Firefox 18- */
            color: #333 !important;
        }

        input::-moz-placeholder {
            /* Firefox 19+ */
            color: #333 !important;
        }

        input:-ms-input-placeholder {
            color: #333 !important;
        }
    }

    .form-content {
        padding: 40px 0;
    }

    .user-avatar {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 2px solid #fff;
    }

    .haveOTP {
        float: right;
        color: rgb(190, 153, 49);
    }
}
